In [7]:
class Object:
    def __init__(self):
        ...

    def calculate(self) -> float:
        ...


class Triangle(Object):
    def __init__(self, h: float, side: float):
        super().__init__()
        self._h = h
        self._side = side

    def calculate(self):
        return f'{(self._h * self._side) / 2}'


class Rectangle(Object):
    def __init__(self, h: float, w: float):
        super().__init__()
        self._h = h
        self._w = w

    def calculate(self):
        return f'{self._h * self._w}'


class Square(Object):
    def __init__(self, r: float):
        super().__init__()
        self.pi = 3.14159
        self._r = r

    def calculate(self):
        return f'{2 * self.pi * (self._r * self._r )}'


d = {}
objects = [Triangle(3, 10), Rectangle(5, 5), Square(3)]
for obj in objects:
    d[obj.__class__.__name__] = obj.calculate()

print(d)

{'Triangle': '15.0', 'Rectangle': '25', 'Square': '56.54862'}

In [9]:
a = input()
op = input()
b = input()
print(eval(f'{a}{op}{b}'))

20

In [13]:
a = [int(input())]
while sum(a) != 0:
    a.append(int(input()))
else:
    print([n ** 2 for n in a])

[100, 64, 4]

In [16]:
n = int(input())
a = []
for i in range(1, n + 1):
    a.extend([i] * i)
print(*a[:n])

1 2 2 3 3 3 4 4 4

In [13]:
a = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
b = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

result = {}
for k, v in zip(b, a):
    if k in result:
        result[k] += v
    else:
        result[k] = v

print(result)

{'a': 17, 'b': 11, 'c': 17}

In [20]:
import pandas as pd
from sklearn.datasets import fetch_california_housing

california_housing = fetch_california_housing(as_frame=True)

df = california_housing.frame
df['target'] = california_housing.target

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
 9   target       20640 non-null  float64
dtypes: float64(10)
memory usage: 1.6 MB

In [23]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,3.422

In [21]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
target         0
dtype: int64

In [25]:
df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,target
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300,2.60300

In [27]:
df.median()

MedInc            3.534800
HouseAge         29.000000
AveRooms          5.229129
AveBedrms         1.048780
Population     1166.000000
AveOccup          2.818116
Latitude         34.260000
Longitude      -118.490000
MedHouseVal       1.797000
target            1.797000
dtype: float64

In [29]:
df['target'].min(), df['target'].max()

(0.14999, 5.00001)

In [30]:
df.apply(lambda x: x.mean())

MedInc            3.870671
HouseAge         28.639486
AveRooms          5.429000
AveBedrms         1.096675
Population     1425.476744
AveOccup          3.070655
Latitude         35.631861
Longitude      -119.569704
MedHouseVal       2.068558
target            2.068558
dtype: float64

## 1

In [14]:
morse = {
    'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
    'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
    'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
    'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
    'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
    'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
    'y': '-.--', 'z': '--..'
}

line = input().split()
for word in line:
    for char in word:
        print(morse[char.lower()], end=' ')
    print()

.. --. -. .. - .. --- -.
… . --.- ..- . -. -.-. .
… - .- .-. -

## 2

In [5]:
db = []
for i in range(int(input())):
    name = input()
    postfix = ''
    if name in db:
        postfix = 1
        while f'{name}{postfix}' in db:
            postfix += 1
        print(f'{name}{postfix}')
    else:
        print('OK')
    db.append(f'{name}{postfix}')

OK
asd1
OK
qwe1
OK

## 3

In [11]:
commands = {
    'read': 'r',
    'write': 'w',
    'execute': 'x'
}

cache = {}
for i in range(int(input())):
    line = input().split()
    cache[line[0]] = line[1:]

for i in range(int(input())):
    op, file = input().split()
    op = commands[op]
    if op in cache[file]:
        print('OK')
    else:
        print('Access denied!')

OK

In [15]:
print(36 / 6)

6.0